## Transforming Data Challenge

In [51]:
import pandas as pd

In [52]:
df=pd.read_excel('Northwind_products_suppliers.xlsx')

In [53]:
df

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country,website
0,1,Chai,10 boxes x 30 bags,18.00,39,0,10.0,1,Beverages,"Specialty Biscuits, Ltd.",UK,/
1,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
2,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
3,3,Aniseed Syrup,12 - 550 ml bottles,10.00,13,70,25.0,0,Condiments,Exotic Liquids,UK,""""""
4,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,53,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
73,63,Vegie-spread,15 - 625 g jars,43.90,24,0,5.0,0,Condiments,"Pavlova, Ltd.",Australia,NaN
74,64,Wimmers gute Semmelkn√∂del,20 bags x 4 pieces,33.25,22,80,30.0,0,Grains/Cereals,Plutzer Lebensmittelgro√üm√§rkte AG,Germany,NaN
75,65,Louisiana Fiery Hot Pepper Sauce,32 - 8 oz bottles,21.05,76,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
76,66,Louisiana Hot Spiced Okra,24 - 8 oz jars,17.00,4,100,20.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
77,69,Gudbrandsdalsost,10 kg pkg.,36.00,26,0,15.0,0,Dairy Products,Norske Meierier,Norway,NaN

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         78 non-null     int64
 1   product_name       78 non-null     object
 2   quantity_per_unit  78 non-null     object
 3   unit_price         78 non-null     float64
 4   units_in_stock     78 non-null     int64
 5   units_on_order     78 non-null     int64
 6   reorder_level      76 non-null     float64
 7   discontinued       78 non-null     int64
 8   category_name      78 non-null     object
 9   company_name       78 non-null     object
 10  country            78 non-null     object
 11  website            6 non-null      object
dtypes: float64(2), int64(4), object(6)
memory usage: 7.4+ KB

In [55]:
df.describe()

,product_id,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
count,78.000000,78.000000,78.000000,78.000000,76.000000,78.000000
mean,38.525641,28.707821,40.205128,10.512821,12.631579,0.141026
std,22.617499,33.627362,36.010229,23.237757,10.907908,0.350301
min,1.000000,2.500000,0.000000,0.000000,0.000000,0.000000
25%,19.250000,13.062500,15.000000,0.000000,0.000000,0.000000
50%,38.500000,19.475000,26.000000,0.000000,12.500000,0.000000
75%,57.750000,33.137500,60.000000,0.000000,25.000000,0.000000
max,77.000000,263.500000,125.000000,100.000000,30.000000,1.000000

## 1. What data is in the first 4 rows?

In [56]:
df.head(4)

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country,website
0,1,Chai,10 boxes x 30 bags,18.0,39,0,10.0,1,Beverages,"Specialty Biscuits, Ltd.",UK,/
1,2,Chang,24 - 12 oz bottles,19.0,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
2,2,Chang,24 - 12 oz bottles,19.0,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
3,3,Aniseed Syrup,12 - 550 ml bottles,10.0,13,70,25.0,0,Condiments,Exotic Liquids,UK,""""""

In [57]:
df.columns

Index(['product_id', 'product_name', 'quantity_per_unit', 'unit_price',
       'units_in_stock', 'units_on_order', 'reorder_level', 'discontinued',
       'category_name', 'company_name', 'country', 'website'],
      dtype='object')

## 2. Calculate how many rows and columns are in this file.

In [58]:
df.shape

(78, 12)

## 3. What’s the maximum unit_price?

In [59]:
df['unit_price'].max ()

263.5

## 4. Use describe() to get the descriptive statistics for this file

In [60]:
df.describe()

,product_id,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
count,78.000000,78.000000,78.000000,78.000000,76.000000,78.000000
mean,38.525641,28.707821,40.205128,10.512821,12.631579,0.141026
std,22.617499,33.627362,36.010229,23.237757,10.907908,0.350301
min,1.000000,2.500000,0.000000,0.000000,0.000000,0.000000
25%,19.250000,13.062500,15.000000,0.000000,0.000000,0.000000
50%,38.500000,19.475000,26.000000,0.000000,12.500000,0.000000
75%,57.750000,33.137500,60.000000,0.000000,25.000000,0.000000
max,77.000000,263.500000,125.000000,100.000000,30.000000,1.000000

## 5. Replace any NULL values in reorder_level with 0

In [61]:
df.isnull().sum()

product_id            0
product_name          0
quantity_per_unit     0
unit_price            0
units_in_stock        0
units_on_order        0
reorder_level         2
discontinued          0
category_name         0
company_name          0
country               0
website              72
dtype: int64

In [62]:
df['reorder_level']=df['reorder_level'].fillna(0)

In [63]:
df.isnull().sum()

product_id            0
product_name          0
quantity_per_unit     0
unit_price            0
units_in_stock        0
units_on_order        0
reorder_level         0
discontinued          0
category_name         0
company_name          0
country               0
website              72
dtype: int64

In [64]:
df.describe()

,product_id,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
count,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000
mean,38.525641,28.707821,40.205128,10.512821,12.307692,0.141026
std,22.617499,33.627362,36.010229,23.237757,10.951259,0.350301
min,1.000000,2.500000,0.000000,0.000000,0.000000,0.000000
25%,19.250000,13.062500,15.000000,0.000000,0.000000,0.000000
50%,38.500000,19.475000,26.000000,0.000000,10.000000,0.000000
75%,57.750000,33.137500,60.000000,0.000000,23.750000,0.000000
max,77.000000,263.500000,125.000000,100.000000,30.000000,1.000000

In [65]:
df.loc[df['reorder_level']==0]

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country,website
4,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,53,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
5,5,Chef Anton's Gumbo Mix,36 boxes,21.35,0,0,0.0,1,Condiments,New Orleans Cajun Delights,USA,NaN
6,6,Grandma's Boysenberry Spread,12 - 8 oz jars,25.00,120,0,0.0,0,Condiments,Grandma Kelly's Homestead,USA,2ww
8,8,Northwoods Cranberry Sauce,12 - 12 oz jars,40.00,6,0,0.0,0,Condiments,Grandma Kelly's Homestead,USA,NaN
10,9,Mishi Kobe Niku,18 - 500 g pkgs.,97.00,29,0,0.0,1,Meat/Poultry,Tokyo Traders,Japan,NaN
11,10,Ikura,12 - 200 ml jars,31.00,31,0,0.0,0,Seafood,Tokyo Traders,Japan,NaN
13,12,Queso Manchego La Pastora,10 - 500 g pkgs.,38.00,86,0,0.0,0,Dairy Products,Cooperativa de Quesos 'Las Cabras',Spain,f
14,14,Tofu,40 - 100 g pkgs.,23.25,35,0,0.0,0,Produce,Mayumi's,Japan,NaN
18,46,Spegesild,4 - 450 g glasses,12.00,95,0,0.0,0,Seafood,Lyngbysild,Denmark,NaN
19,47,Zaanse koeken,10 - 4 oz boxes,9.50,36,0,0.0,0,Confections,Zaanse Snoepfabriek,Netherlands,NaN
24,71,Flotemysost,10 - 500 g pkgs.,21.50,26,0,0.0,0,Dairy Products,Norske Meierier,Norway,W
25,72,Mozzarella di Giovanni,24 - 200 g pkgs.,34.80,14,0,0.0,0,Dairy Products,Formaggi Fortini s.r.l.,Italy,NaN
32,17,Alice Mutton,20 - 1 kg tins,39.00,0,0,0.0,1,Meat/Poultry,"Pavlova, Ltd.",Australia,NaN
33,18,Carnarvon Tigers,16 kg pkg.,62.50,42,0,0.0,0,Seafood,"Pavlova, Ltd.",Australia,NaN
35,20,Sir Rodney's Marmalade,30 gift boxes,81.00,40,0,0.0,0,Confections,"Specialty Biscuits, Ltd.",UK,NaN
39,24,Guaran√° Fant√°stica,12 - 355 ml cans,4.50,20,0,0.0,1,Beverages,Refrescos Americanas LTDA,Brazil,NaN
41,26,Gumb√§r Gummib√§rchen,100 - 250 g bags,31.23,15,0,0.0,0,Confections,Heli S√º√üwaren GmbH & Co. KG,Germany,NaN
43,28,R√∂ssle Sauerkraut,25 - 825 g cans,45.60,26,0,0.0,1,Produce,Plutzer Lebensmittelgro√üm√§rkte AG,Germany,NaN
44,29,Th√ºringer Rostbratwurst,50 bags x 30 sausgs.,123.79,0,0,0.0,1,Meat/Poultry,Plutzer Lebensmittelgro√üm√§rkte AG,Germany,NaN
56,42,Singaporean Hokkien Fried Mee,32 - 1 kg pkgs.,14.00,26,0,0.0,1,Grains/Cereals,Leka Trading,Singapore,NaN
63,53,Perth Pasties,48 pieces,32.80,0,0,0.0,1,Meat/Poultry,"G'day, Mate",Australia,NaN
69,59,Raclette Courdavault,5 kg pkg.,55.00,79,0,0.0,0,Dairy Products,Gai p√¢turage,France,NaN
70,60,Camembert Pierrot,15 - 300 g rounds,34.00,19,0,0.0,0,Dairy Products,Gai p√¢turage,France,NaN
72,62,Tarte au sucre,48 pies,49.30,17,0,0.0,0,Confections,For√™ts d'√©rables,Canada,NaN
75,65,Louisiana Fiery Hot Pepper Sauce,32 - 8 oz bottles,21.05,76,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN

In [66]:
df

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country,website
0,1,Chai,10 boxes x 30 bags,18.00,39,0,10.0,1,Beverages,"Specialty Biscuits, Ltd.",UK,/
1,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
2,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK,NaN
3,3,Aniseed Syrup,12 - 550 ml bottles,10.00,13,70,25.0,0,Condiments,Exotic Liquids,UK,""""""
4,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,53,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
73,63,Vegie-spread,15 - 625 g jars,43.90,24,0,5.0,0,Condiments,"Pavlova, Ltd.",Australia,NaN
74,64,Wimmers gute Semmelkn√∂del,20 bags x 4 pieces,33.25,22,80,30.0,0,Grains/Cereals,Plutzer Lebensmittelgro√üm√§rkte AG,Germany,NaN
75,65,Louisiana Fiery Hot Pepper Sauce,32 - 8 oz bottles,21.05,76,0,0.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
76,66,Louisiana Hot Spiced Okra,24 - 8 oz jars,17.00,4,100,20.0,0,Condiments,New Orleans Cajun Delights,USA,NaN
77,69,Gudbrandsdalsost,10 kg pkg.,36.00,26,0,15.0,0,Dairy Products,Norske Meierier,Norway,NaN

## 6.Remove duplicate rows

In [67]:
df.duplicated().sum() #find the duplicates

1

In [68]:
df_nodupes = df.drop_duplicates() #gets rid of the duplicate rows

In [69]:
df_nodupes.duplicated().sum() #recheck dupes

0

## 7. Change "Gustaf's Kn√§ckebr√∂d" To "Gustaf's Knäckebröd"

In [71]:
fixed_df = df.replace("Gustaf's Kn√§ckebr√∂d","Gustaf's Knäckebröd", regex=True) #make corrections

## 8. Remove the column for website

In [72]:
df.drop(columns=['website'])

,product_id,product_name,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued,category_name,company_name,country
0,1,Chai,10 boxes x 30 bags,18.00,39,0,10.0,1,Beverages,"Specialty Biscuits, Ltd.",UK
1,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK
2,2,Chang,24 - 12 oz bottles,19.00,17,40,25.0,1,Beverages,Exotic Liquids,UK
3,3,Aniseed Syrup,12 - 550 ml bottles,10.00,13,70,25.0,0,Condiments,Exotic Liquids,UK
4,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,53,0,0.0,0,Condiments,New Orleans Cajun Delights,USA
...,...,...,...,...,...,...,...,...,...,...,...
73,63,Vegie-spread,15 - 625 g jars,43.90,24,0,5.0,0,Condiments,"Pavlova, Ltd.",Australia
74,64,Wimmers gute Semmelkn√∂del,20 bags x 4 pieces,33.25,22,80,30.0,0,Grains/Cereals,Plutzer Lebensmittelgro√üm√§rkte AG,Germany
75,65,Louisiana Fiery Hot Pepper Sauce,32 - 8 oz bottles,21.05,76,0,0.0,0,Condiments,New Orleans Cajun Delights,USA
76,66,Louisiana Hot Spiced Okra,24 - 8 oz jars,17.00,4,100,20.0,0,Condiments,New Orleans Cajun Delights,USA
77,69,Gudbrandsdalsost,10 kg pkg.,36.00,26,0,15.0,0,Dairy Products,Norske Meierier,Norway

## 9. Create a crosstab, with category_name in rows and country in columns

In [ ]:
crosstab=pd.crosstab(df['category_name'], df['country'])  # count

In [74]:
crosstab

country,Australia,Brazil,Canada,Denmark,Finland,France,Germany,Italy,Japan,Netherlands,Norway,Singapore,Spain,Sweden,UK,USA
category_name,,,,,,,,,,,,,,,,
Beverages,1,1,0,0,1,2,1,0,0,0,0,1,0,0,3,3
Condiments,1,0,1,0,0,0,1,0,1,0,0,1,0,0,1,6
Confections,1,0,1,0,2,0,3,0,0,2,0,0,0,0,4,0
Dairy Products,0,0,0,0,0,2,0,3,0,0,3,0,2,0,0,0
Grains/Cereals,1,0,0,0,0,0,1,2,0,0,0,1,0,2,0,0
Meat/Poultry,2,0,2,0,0,0,1,0,1,0,0,0,0,0,0,0
Produce,1,0,0,0,0,0,1,0,2,0,0,0,0,0,0,1
Seafood,1,0,0,2,0,1,1,0,2,0,0,0,0,3,0,2

## 10. Create a pivot table with average unit_price by category

In [79]:
# pivot_df = df.pivot_table('what to aggregate', index='what to put in rows',  aggfunc='avg')  
# df.pivot_table(['category_name'],index=['unit_price'], aggfunc='mean')
df.pivot_table(index=['category_name'], values=['unit_price'], aggfunc='mean')

                unit_price
category_name
Beverages        36.519231
Condiments       22.854167
Confections      25.160000
Dairy Products   28.730000
Grains/Cereals   20.250000
Meat/Poultry     54.006667
Produce          32.370000
Seafood          20.682500

## 11. Create a pivot table with average reorder_level  by category (rows) and country (columns

In [83]:
df.pivot_table(index=['country'], values=['reorder_level'], aggfunc='mean')

             reorder_level
country
Australia        10.000000
Brazil            0.000000
Canada           13.750000
Denmark           7.500000
Finland          21.666667
France            8.000000
Germany          16.111111
Italy            19.000000
Japan             2.500000
Netherlands      12.500000
Norway           11.666667
Singapore        13.333333
Spain            15.000000
Sweden           20.000000
UK               13.750000
USA               9.166667

## 12. Create a groupby table with sum of discontinued products by company name

In [94]:
# df_grouped = df.groupby(['rows1','row2'])['columns'].mean()
df_grouped = df.groupby(['company_name'])['discontinued'].sum()

In [95]:
df_grouped

company_name
Aux joyeux eccl√©siastiques               0
Bigfoot Breweries                         0
Cooperativa de Quesos 'Las Cabras'        0
Escargots Nouveaux                        0
Exotic Liquids                            2
Formaggi Fortini s.r.l.                   0
For√™ts d'√©rables                        0
G'day, Mate                               1
Gai p√¢turage                             0
Grandma Kelly's Homestead                 0
Heli S√º√üwaren GmbH & Co. KG             0
Karkki Oy                                 0
Leka Trading                              1
Lyngbysild                                0
Ma Maison                                 0
Mayumi's                                  0
New England Seafood Cannery               0
New Orleans Cajun Delights                1
Nord-Ost-Fisch Handelsgesellschaft mbH    0
Norske Meierier                           0
PB Kn√§ckebr√∂d AB                        0
Pasta Buttini s.r.l.                      0
Pavlova, Ltd.                             1
Plutzer Lebensmittelgro√üm√§rkte AG       2
Refrescos Americanas LTDA                 1
Specialty Biscuits, Ltd.                  1
Svensk Sj√∂f√∂da AB                       0
Tokyo Traders                             1
Zaanse Snoepfabriek                       0
Name: discontinued, dtype: int64

## 13. Create a groupby table with maximum unit_price by country and category (both in rows

In [98]:
# df_grouped = df.groupby(['rows1','row2'])['columns'].mean()
df_grouped_2 = df.groupby(['country','category_name'])['unit_price'].max()

In [99]:
df_grouped_2

country      category_name
Australia    Beverages          15.00
             Condiments         43.90
             Confections        17.45
             Grains/Cereals      7.00
             Meat/Poultry       39.00
             Produce            53.00
             Seafood            62.50
Brazil       Beverages           4.50
Canada       Condiments         28.50
             Confections        49.30
             Meat/Poultry       24.00
Denmark      Seafood            12.00
Finland      Beverages          18.00
             Confections        20.00
France       Beverages         263.50
             Dairy Products     55.00
             Seafood            13.25
Germany      Beverages           7.75
             Condiments         13.00
             Confections        43.90
             Grains/Cereals     33.25
             Meat/Poultry      123.79
             Produce            45.60
             Seafood            25.89
Italy        Dairy Products     34.80
             Grains/Cereals     38.00
Japan        Condiments         13.00
             Meat/Poultry       97.00
             Produce            23.25
             Seafood            31.00
Netherlands  Confections        12.75
Norway       Dairy Products     36.00
Singapore    Beverages          46.00
             Condiments         19.45
             Grains/Cereals     14.00
Spain        Dairy Products     38.00
Sweden       Grains/Cereals     21.00
             Seafood            26.00
UK           Beverages          19.00
             Condiments         10.00
             Confections        81.00
USA          Beverages          18.00
             Condiments         40.00
             Produce            30.00
             Seafood            18.40
Name: unit_price, dtype: float64